# Docker Compose - Prometheus & Grafana (Kriteria 4)
version: "3.8"

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./2.prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin123
      - GF_UNIFIED_ALERTING_ENABLED=true
      - GF_UNIFIED_ALERTING_EXECUTE_ALERTS=true
      - GF_UNIFIED_ALERTING_ALERTMANAGER_ENABLED=true
      - GF_ALERTING_ENABLED=false
      # SMTP Configuration untuk Email Notifications
      - GF_SMTP_ENABLED=true
      - GF_SMTP_HOST=smtp.gmail.com:587
      - GF_SMTP_USER=alphazzz31@gmail.com
      - GF_SMTP_PASSWORD=zjobasxcdzvedinj
      - GF_SMTP_FROM_ADDRESS=alphazzz31@gmail.com
      - GF_SMTP_FROM_NAME=Grafana Kriteria4
    volumes:
      - grafana_data:/var/lib/grafana
    restart: unless-stopped
    depends_on:
      - prometheus

volumes:
  grafana_data:
